.a{
  color:white;
  text-decoration:none;
  font-size: 1.6rem;
}

.a:hover{
  color:#80b3ff;
  text-decoration:none;
  font-size: 1.6rem;
}

.anow:hover{
  color:#80b3ff;
  text-decoration:none;
  font-size: 1.6rem;
}

.anow{
  color:#80b3ff;
  text-decoration:none;
  font-size: 1.6rem;
}
