.body{
  text-align: center;
  color: #34495e;
  font-size: 7rem;
  font-family: 'Varela Round'
}

.content{
  text-align: center;
  color: #34495e;
  font-size: 3rem;
  font-family: 'Varela Round'
}
